


<div class="ui container">
<div class="footer">
    <div class="ui segment">
        Stock Blast Inc 2018
        <i class="facebook square icon"></i>
        <i class="linkedin icon"></i>
        <i class="slack icon"></i>
    </div>
</div>

</div>







