
<div class="ui right aligned segment">

        <a href="/login" class="ui primary button">
          Login
        </a>
        <a href="/signup" class="ui primary button">
          Sign Up
        </a>

    </div>