<div class="ui right aligned segment">

        <a href="/login" class="ui primary button">
          Login
        </a>
        <a href="/signup" class="ui primary button">
          Sign Up
        </a>

    </div>

<form class="ui form" method="POST" action="/users/login">
  <h3>LOGIN</h3>
  <div class="two fields">
    <div class="field">
      <label>Email</label>
      <input required type="text" name="email">
    </div>

    <div class="field">
      <label>Password</label>
      <input required type="password" name="password">
    </div>
  </div>

  <button class="ui button" type="submit">Login</button>
</form>