h1 {
  text-align: center;
  font-family: sans-serif;
}
.posLeft{
  text-align: right;

}

img {
  width: 292px;
  height: 280px;
  padding: 0%;
}

.padding{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left:30px;
    padding-right:30px;
}
body{
  background-image: url("/images/background2.png");
  background-size: cover;

}

.ui.container {
  background: rgba(255,255,255,0.5);
}
header {
  background: rgba(255,255,255,0.5);
}