h1 {
  text-align: center;
  font-family: sans-serif;
}
.centerCont{
  text-align: center;

}

img {
  width: 292px;
  height: 280px;
  padding: 0%;
}

.padding{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left:30px;
    padding-right:30px;
}
body{
  background-image: url("/images/background2.png");
  background-size: cover;

}

.ui.container {
  background: rgba(255,255,255,0.5);
}
header {
  background: rgba(255,255,255,0.5);
}

h1{
font-family: 'Righteous', cursive;
font-size: 90px;
color: #4183c4;

}

h2{
font-family: 'Righteous', cursive;
font-size: 60px;
text-align: center;
color: #4183c4;
}

h3{
font-family: 'Righteous', cursive;
font-size: 20px;
color: #4183c4;
}

.color{
    color: #4183c4;
}


/*
.user_img{
  width: 120px;
  height: 180px;

} */