h1 {
  text-align: center;
  font-family: sans-serif;
}
.posLeft{
  text-align: right;

}

img {
  width: 292px;
  height: 280px;
  padding: 0%;
}

.padding{
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left:60px;
    padding-right:60px;
}
body{
  background-image: url("/images/background2.png");
  background-size: cover;

}

.ui.container {
  background: rgba(255,255,255,0.5);
}
header {
  background: rgba(255,255,255,0.5);
}